.lsp-session-v1
auto-save-list/
bookmarks
configuration.el
custom.el
elpa/
network-security.data
prescient-items
projectile-bookmarks.eld
projectile.cache
recentf
transient/
local.el
.mc-lists.el
.org-id-locations
